.lable {
  display:inline;
}

.form-input {
  display:block;
  width:400px;
  padding:5px;
  border:1px solid #b1b1b1;
  border-radius:5px;
  margin-top:5px;
}

.form-submit {
  width:350px;
  padding:5px;
  background-color:black;
  color:white;
  border:0px;
  border-radius:5px;
}

.title{
  width:400px;
  text-align:center;
}
